:root {
  box-sizing: border-box;
  --border-rad: 1em;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: #1b3253;
  color: #fff;

  font-family: Roboto;
  line-height: 1.4;
}
td,
th {
  padding: 0.5em;
}

td {
  text-align: center;
}
th {
  letter-spacing: 2px;
  text-align: center;
}

thead th {
  font-weight: bolder;
}
.container {
  display: grid;
  grid-template-areas:
    'main-nav scores trends player-of-interest'
    'main-nav stats standings standings';
  grid-template-columns: 1fr 4fr 4fr 3fr;
  grid-template-columns: repeat (2, auto);
  gap: 1em;
  max-width: 1280px;
  margin: 0 auto;
}

.sidebar-nav {
  grid-area: main-nav;
  color: black;
  border-radius: var(--border-rad) 0 0 var(--border-rad);
  background-color: #d8d8d8;
}
.scoreboard {
  grid-area: scores;
}
.scoreboard__title {
  text-align: center;
}
.scoreboard__main-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}
.scoreboard__team-logo {
  object-fit: contain;
}
.scoreboard__gameinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scoreboard__gameinfo * + * {
  margin-top: 1em;
}
.scoreboard__scores {
  font-size: 2rem;
}
.scoreboard__watch {
  color: #498e5c;
  border: 1px solid #498e5c;
  border-radius: 0.5em;
  padding: 0.2em 0.8em;
}
.team-trends {
  grid-area: trends;
}
.player {
  font-family: 'Kelly Slab', cursive;
  grid-area: player-of-interest;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player__num-wrapper {
  display: flex;
  margin-top: 2.5em;
  line-height: 0.8;
}
.player__number {
  text-align: center;
  font-size: 8rem;
}
.player__hashtag {
  font-size: 4rem;
  align-self: start;
}
.player__name {
  font-size: 2rem;
}
.standings {
  grid-area: standings;
}
.standings {
  /* border : 1px solid red; */
  overflow: hidden;
  border-collapse: collapse;
  table-layout: fixed;
  text-transform: uppercase;
  width: 100%;
}
.standings > caption {
  padding: 0.8em;
  border: 1px solid #5d6a8a;
  border-bottom: none;
  border-radius: var(--border-rad) var(--border-rad) 0 0;
}
.standings > thead {
  background-color: red;
}
.points-col {
  background-color: red;
}
.standings > thead th:nth-child(2) {
  width: 15%;
}
.standings tbody tr:nth-child(odd):not(.featured-team) td:not(:last-child) {
  background-color: #102036;
  margin-right: -10px;
}
.standings tbody tr.featured-team {
  background-color: #498e5c;
}
.tile {
  border-radius: var(--border-rad);
  background-color: #102036;
}
.tile--outlined {
  border: thin solid #5d6a8a;
  background: none;
}
.tile--outlined-table {
  border: 4px solid #5d6a8a;
  /* outline: 0.5rem solid khaki; */
  border-radius: 0 0 var(--border-rad) var(--border-rad);
  background: none;
  /* opacity: 0.5; */
}
.tile--circle {
  border: 1px solid #5d6a8a;
  background: none;
  border-radius: 50%;
}
