:root {
  box-sizing: border-box;
  --border-rad: 1em;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: #1b3253;
  color: rgb(246, 244, 244);
  font-family: Roboto;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
td,
th {
  padding: 0.5em;
  border-collapse: collapse;
}
td {
  text-align: center;
}
th {
  letter-spacing: 2px;
  text-align: center;
}

thead th {
  font-weight: bolder;
}
.small-logo {
  width: 4em;
}
.container {
  display: grid;
  grid-template-areas:
    'main-nav scores trends player-of-interest'
    'main-nav statistics standings standings';
  grid-template-columns: 1fr 4fr 4fr 3fr;
  grid-template-columns: repeat (2, auto);
  gap: 1em;
  max-width: 1400px;
  /* margin: 0 auto; */
}
.sidebar-nav {
  grid-area: main-nav;
  border-radius: var(--border-rad) 0 0 var(--border-rad);
  /* background-color: rgb(246, 244, 244);
  background-color: #091c36; */
  background-color: #102036;
  color: antiquewhite;
  box-shadow: 10px 10px 20px #243957, -10px -10px 20px #2c3449;
}
.sidebar-nav > ul {
  justify-items: center;

  /* list-style: none outside none; */
  list-style-type: none;
}
.nav-button + .nav-button {
  margin-top: 1em;
}
.nav-button > a > img {
  /* text-decoration: none; */
  width: 2.5em;
  color: white;
}
.scoreboard {
  grid-area: scores;
}
.scoreboard__title {
  text-align: center;
}
.scoreboard__main-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
}
.scoreboard__team-logo {
  object-fit: contain;
}
.scoreboard__gameinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard__scores {
  font-size: 2rem;
}
.scoreboard__watch {
  margin-top: 0.5em;
  color: #498e5c;
  border: 1px solid #498e5c;
  border-radius: 0.5em;
  padding: 0.2em 0.8em;
}
.team-trends {
  grid-area: trends;
}
.player {
  font-family: 'Kelly Slab', cursive;
  grid-area: player-of-interest;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player__num-wrapper {
  display: flex;
  margin-top: 2.5em;
  line-height: 0.8;
}
.player__number {
  text-align: center;
  font-size: 8rem;
}
.player__hashtag {
  font-size: 4rem;
  align-self: start;
}
.player__name {
  font-size: 2rem;
}
.stats-table {
  /* border: thin solid red; */
}
.statistics {
  grid-area: statistics;
  text-transform: uppercase;
  width: 100%;
}
table.standings {
  border-radius: 0 0 var(--border-rad) var(--border-rad);
  grid-area: standings;
  overflow: hidden;
  border-collapse: collapse;
  table-layout: fixed;
  text-transform: uppercase;
  width: 100%;
}
.standings > caption {
  padding: 0.8em;
  background-color: #102036;
  /* border: 1px solid #5d6a8a; */
  border-bottom: none;
  border-radius: var(--border-rad) var(--border-rad) 0 0;
}
.statistics tbody tr:nth-child(odd) {
  background-color: #102036;
}
.standings > thead {
  background-color: red;
}
.standings .points-col {
  background-color: red;
  border-collapse: separate;
}

.standings > thead th:nth-child(2) {
  width: 15%;
}
.standings tbody tr:nth-child(odd):not(.featured-team) td:not(:last-child) {
  background-color: #102036;
}
.standings tbody tr.featured-team {
  background-color: #498e5c;
}
.tile {
  border-radius: var(--border-rad);
  background-color: #102036;
}
.tile--outlined {
  border: thin solid #5d6a8a;
  background: none;
}
.tile--outlined-table {
  /* border: 4px solid #5d6a8a; */
  /* outline: 0.5rem solid khaki; */
  /* border-radius: 0 0 var(--border-rad) var(--border-rad); */
  border-radius: var(--border-rad);
  background: none;
  box-shadow: 10px 10px 20px #243957, -10px -10px 20px #2c3449;
}
.tile--circle {
  border: 1px solid #5d6a8a;
  background: none;
  border-radius: 50%;
}
