:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
.wrapper {
  margin-left: -1.5em;
  margin-right: -1.5em;
}
.container {
  display: table;
  width: 100%;
  border-spacing: 1.5em 0;
}
.header {
  width: 100%;
  border: dashed 2px red;
}
.header > h2 {
}
.sidebar,
.main {
  border: dashed 2px red;
  display: table-cell;
}
.sidebar {
  width: 30%;
}
.main {
  width: 70%;
}
