.container {
  border: 4px dotted red;
}
.inner-container {
  border: 4px dotted green;
}
.outside {
  width: 300px;
  height: 300px;
  border: dotted 4px lightblue;
}
.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: lightblue;
}
.absolute {
  position: absolute;
  background-color: red;
  top: 100px;
  left: 400px;
}

.relative {
  position: relative;
  top: 200px;
  left: 200px;
}
